.box{
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.min-box{
    background-color: rgb(251, 251, 251);
    height: 30%;
    padding: 2rem 0rem;
    position: relative;
    width: 30vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cross{
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  
}
.button-box{
  align-items: end;
  background-color: brown;
}
/* .form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */
/* .input{
    width: 15vw;
} */
@media only screen and (max-width: 1000px) {
    .min-box{
        width: 60vw;
    }
    
  }
  @media only screen and (max-width: 500px) {
    .min-box{
        width: 80vw;
    }
    
  }