.checkalltrans{
  color:black; 
  transition: all .5s ease-in-out;
}
.checkalltrans:hover{
  color: gray;
}
.detail{
  color: black;
  text-decoration: underline;
  transition: all .5s ease-in-out;
}
.detail:hover{
  color: gray;
}
.my-inp-rec{
  width: 4vw;
  font-size: .8rem;
}
.my-trans-his-head{
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}